<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Minha Página com Imagem</title>
    </head>
    <body>
        <nav>
            <a href="#">Home</a>
            <a href="#">Crie seu Chart</a>
            <a href="#">Biblioteca</a>
            <a href="#">Sugestões</a>
            <a href="#">Sobre Nós</a>
        </nav>

        <form>
            <h2>Crie seu Chart</h2>
            <label>Funcionalidade:
                <input type="text" name="funcionalidade">
            </label>
            
            <label>Objetivo do teste:
                <textarea class="textarea-input" name="objetivo_do_teste" maxlength="250"></textarea>
            </label>
            
            <label>Tipo de Teste:
                <select name="tipo_de_charts">
                    <option value="visitas_guiadas">Visitas guiadas</option>
                    <option value="viagem_pelo_dinheiro">Viagem pelo dinheiro</option>
                    <option value="excursao_ao_crime">Excursão ao crime</option>
                    <option value="volta_ao_beco">Volta ao beco</option>
                    <option value="visita_intelectual">Visita intelectual</option>
                </select>
            </label>

            <label>Pré requisito(s):
                <textarea class="textarea-input" name="pre_requisito" maxlength="250"></textarea>
            </label>

            <div class="time-inputs">
                <label>Tempo máximo (em minutos):
                    <input type="number" name="tempo_maximo" max="3600">
                </label>
            
                <label>Tempo mínimo (em minutos):
                    <input type="number" name="tempo_minimo" max="3600">
                </label>
            </div>

            <label>Plataforma:
                <div class="checkbox-group">
                    <label>
                        Web <input type="checkbox" name="plataforma" value="Web" checked onclick="return false;">
                    </label>
                    <label>
                        API <input type="checkbox" name="plataforma" value="API" disabled>
                    </label>
                    <label>
                        App <input type="checkbox" name="plataforma" value="App" disabled>
                    </label>
                </div>
            </label>

            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
